body {
  background-color: rgb(255, 199, 64);
  font-family: "Open Sans", Arial;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  justify-items: start;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.form-group, .form-group-inline {
  display: contents;
}

label {
  text-align: right;
  margin-right: 10px;
}

input[type="text"], input[type="number"], select, textarea {
  min-height: 15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  width: 100%;
}

input[type="radio"] {
  margin-left: 12px;
}

.form-group-inline {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 5px;
}

textarea {
  width: 100%;
}

input[type="submit"] {
  grid-column: span 2;
  margin-top: 15px;
}

#main {
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  height: auto;
  border-radius: 15px;
  margin: 2% 10%;
  padding: 20px;
  overflow: auto;
}

#main h1 {
  text-align: center;
}

#top img {
  display: block;
  width: 35%;
  margin: 0 auto;
}

.italics {
  font-style: italic;
}

.word {
  font-weight: bold;
  text-decoration: underline;
}